body{
    margin: 0;
    padding: 0;
    font-family: "Courier New";
    color: white;
    font-size: 25px;
    background-color: #28242c;
}

html, body{
    height: 100%;
}

p{
    text-align: center;
}

#name{
    display: flex;
    user-select: none;
}

#textContainer{
    user-select: none;
}

#page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#links{
    display: none;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

#links1{
    display: flex;
    justify-content: center;
    align-items: center;
}

#links2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#links1 img{
    width: 50px;
}

#links2 img{
    width: 100%;
}

#left-divider{
    display: none;
    justify-content: center;
    align-items: center;
    width: 50%;
    user-select: none;
}

#right-divider{
    display: none;
    justify-content: center;
    align-items: center;
    width: 50%;
    user-select: none;
}

#footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}

#guide{
    font-size: 15px;
    padding-right: 1250px;
    color:darkgray;
}

#pageTrack{
    font-size: 20px;
    color:lightgray;
}